/* =======================================
                Base Style 
======================================= */

* {
    box-sizing: border-box;
}

body {
     font-family: 'Open Sans', sans-serif;
     text-align: center;
     line-height: 1.5;
}

.name {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.nav li {
    background-color: #fff;
    margin: 10px 0;
}

.container {
    padding-right: 1em;
    padding-left: 1em;
}

.main-header {
    padding: 1em 0;
    background-color: #fafafa;
}

.about-me {
    margin: 10% 0;
}

.about-me img {
    max-width: 70%;
}

.projects {
    padding-bottom: 5%;
}

header p {
    padding: 5%;
    margin-top: 0;
}

.name {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 900;
    margin: 0;
}

h1, a, h2, h3, h4 {
    color: #4a4a4a;
}

.heading {
    font-weight: 800;
    padding: 10% 0;
}

.about-me img {
    width: 40%;
}

nav ul {
    padding-left: 0;
}

li a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    padding: 10px;
    list-style: none;
    font-weight: 700;
}

#card {
    background-color: #fff;
    padding: 5%;
}

.text {
    padding: 0 10%;
} 

.contact-wrapper p {
    padding: 0 20%;
}

#contact {
    padding: 15% 0;
}

.contact-wrapper, .skills-wrapper {
    background-color: #fafafa;
    padding-bottom: 10%;
}

.contact-wrapper a {
    text-decoration: none;
    color: #616161;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    border-top: 1px solid lightgrey;
    background-color: #f5f5f5;
}

footer p, footer a {
    text-decoration: none;
    margin: 16px 0;
    color: #696969;
    font-weight: 700;
}

.footer-nav {
    display: none;
}

/* =======================================
                Media Queries 
======================================= */

@media screen and (min-width: 768px){
    .nav {
        margin: 0 auto;
        max-width: 40%;
        display: flex;
        justify-content: center;
    }
    .nav li {
        background-color: #fafafa;
    }
    header p {
        padding: 0 5% 5% 5%;
    }
    .about-me {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }
    .about-me img {
        margin-right: 5%;
    }
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   .projects {
    flex-basis: 45%;
    justify-content: space-evenly;
    }
    .projects:nth-child(odd) {
        margin-right: 5%;
    }
    .project-desc {
        padding-bottom: 10%;
    }
    #contact {
        padding: 10% 0;
    }
    .contact-wrapper p{
        justify-content: center;
        padding: 0 20%;
    }
    .top {
    display: none;
    }
    .footer-nav {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2em
    }
    a:hover {
        text-decoration: underline;
        color: #ed8840;
    }
    .container {
        display: flex;
        justify-content: space-between;
        margin: 5% 5%;
        padding: 0;
    }
    /* .nav {
        margin-right: 0;
    } */
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .projects {
    flex-basis: 30%;
    justify-content: space-evenly;
    }
    .projects:nth-child(odd) {
        margin-right: 0;
    }
    .projects:nth-child(1) {
        margin-right: 2%;
    }
    .projects:nth-child(2) {
        margin-right: 2%;
    }
    .projects:nth-child(4) {
        margin-right: 2%;
    }
    .projects:nth-child(5) {
        margin-right: 2%;
    }
}
